<!DOCTYPE html>
<html>
<head>
  <title>Fips</title>
  <%= stylesheet_link_tag    "fips/application", media: "all" %>
  <%= javascript_include_tag "fips/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
